APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=viteetgourmand
DB_USERNAME=root
DB_PASSWORD=

MONGO_CONNECTION_STRING=mongodb://127.0.0.1:27017
MONGO_DATABASE=viteetgourmand
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_AUTH_SOURCE=admin

SESSION_NAME=viteetgourmand_session
SESSION_LIFETIME=120
SESSION_SECURE=false

PASSWORD_HASH_COST=12

MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@viteetgourmand.local
MAIL_FROM_NAME=Vite & Gourmand
MAIL_TO_ADDRESS=